<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="testRun" value="true" />
    <add key="path" value="\\\\tarifpbx\\C$\\Export\\ExportAteco.csv" />
    <add key="SmtpServerHost" value="postovniserver.firma.cz" />
    <add key="SmtpServerPort" value="25" />
    <add key="SmtpServerUserName" value="overovaciEmail@firma.cz" />
    <add key="SmtpServerPassword" value="heslo" />
    <add key="emailFrom" value="emailZ@firma.cz" />
    <add key="emailToError" value="emailDo@firma.cz" />
    <add key="emailToReport" value="emailDo@firma.cz" />
    <add key="emailHead" value="Zápis telefonů z Ateca do AD" />
    <add key="emailBodyError" value="Toto je automatický email. Zkontrolujte prosím výpis chyb. Aplikace nemusela provést požadované operace. " />
    <add key="emailBodyReport" value="Toto je automatický email. Výpisu provedených operací." />
    <add key="ClientSettingsProvider.ServiceUri" value="" /> 
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>